@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::-webkit-scrollbar {
	width: 1rem;
	height: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px 10px var(--background-50);
	background: var(--background-50);
	background-clip: content-box;
	border-radius: 9999px;
	border: solid 4px transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 10px 10px var(--background-100);
	background: var(--background-100);
	background-clip: content-box;
	border: solid 4px transparent;
	border-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;
}

.fill {
	font-variation-settings:
		'FILL' 1,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;
}

@layer base {
	:root {
		--text: #001024;
		--background: #f5faff;
		--primary: #1d94fc;
		--secondary: #fd6886;
		--accent: #fda349;

		--text-50: #e5f1ff;
		--text-100: #cce3ff;
		--text-200: #99c7ff;
		--text-300: #66abff;
		--text-400: #338fff;
		--text-500: #0073ff;
		--text-600: #005ccc;
		--text-700: #004599;
		--text-800: #002e66;
		--text-900: #001733;
		--text-950: #000b1a;

		--background-50: #e5f2ff;
		--background-100: #cce5ff;
		--background-200: #99ccff;
		--background-300: #66b2ff;
		--background-400: #3399ff;
		--background-500: #007fff;
		--background-600: #0066cc;
		--background-700: #004c99;
		--background-800: #003366;
		--background-900: #001933;
		--background-950: #000d1a;

		--primary-50: #e6f3ff;
		--primary-100: #cde7fe;
		--primary-200: #9bcffd;
		--primary-300: #68b7fd;
		--primary-400: #36a0fc;
		--primary-500: #0488fb;
		--primary-600: #036dc9;
		--primary-700: #025197;
		--primary-800: #023664;
		--primary-900: #011b32;
		--primary-950: #000e19;

		--secondary-50: #ffe6eb;
		--secondary-100: #fecdd7;
		--secondary-200: #fd9bae;
		--secondary-300: #fd6886;
		--secondary-400: #fc365e;
		--secondary-500: #fb0435;
		--secondary-600: #c9032b;
		--secondary-700: #970220;
		--secondary-800: #640215;
		--secondary-900: #32010b;
		--secondary-950: #190005;

		--accent-50: #fff2e6;
		--accent-100: #fee6cd;
		--accent-200: #fecc9a;
		--accent-300: #fdb368;
		--accent-400: #fd9935;
		--accent-500: #fc8003;
		--accent-600: #ca6602;
		--accent-700: #974c02;
		--accent-800: #653301;
		--accent-900: #321a01;
		--accent-950: #190d00;
	}
	.dark {
		--text: #dbebff;
		--background: #00050a;
		--primary: #037ae2;
		--secondary: #970220;
		--accent: #b65c02;

		--text-50: #000b1a;
		--text-100: #001733;
		--text-200: #002e66;
		--text-300: #004599;
		--text-400: #005ccc;
		--text-500: #0073ff;
		--text-600: #338fff;
		--text-700: #66abff;
		--text-800: #99c7ff;
		--text-900: #cce3ff;
		--text-950: #e5f1ff;

		--background-50: #000d1a;
		--background-100: #001933;
		--background-200: #003366;
		--background-300: #004c99;
		--background-400: #0066cc;
		--background-500: #007fff;
		--background-600: #3399ff;
		--background-700: #66b2ff;
		--background-800: #99ccff;
		--background-900: #cce5ff;
		--background-950: #e5f2ff;

		--primary-50: #000e19;
		--primary-100: #011b32;
		--primary-200: #023664;
		--primary-300: #025197;
		--primary-400: #036dc9;
		--primary-500: #0488fb;
		--primary-600: #36a0fc;
		--primary-700: #68b7fd;
		--primary-800: #9bcffd;
		--primary-900: #cde7fe;
		--primary-950: #e6f3ff;

		--secondary-50: #190005;
		--secondary-100: #32010b;
		--secondary-200: #640215;
		--secondary-300: #970220;
		--secondary-400: #c9032b;
		--secondary-500: #fb0435;
		--secondary-600: #fc365e;
		--secondary-700: #fd6886;
		--secondary-800: #fd9bae;
		--secondary-900: #fecdd7;
		--secondary-950: #ffe6eb;

		--accent-50: #190d00;
		--accent-100: #321a01;
		--accent-200: #653301;
		--accent-300: #974c02;
		--accent-400: #ca6602;
		--accent-500: #fc8003;
		--accent-600: #fd9935;
		--accent-700: #fdb368;
		--accent-800: #fecc9a;
		--accent-900: #fee6cd;
		--accent-950: #fff2e6;
	}
}
