@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::-webkit-scrollbar {
	width: 1rem;
	height: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px 10px var(--background-50);
	background: var(--background-50);
	background-clip: content-box;
	border-radius: 9999px;
	border: solid 4px transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 10px 10px var(--background-100);
	background: var(--background-100);
	background-clip: content-box;
	border: solid 4px transparent;
	border-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;
}

.fill {
	font-variation-settings:
		'FILL' 1,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;
}

@layer base {
	:root {
		--text: #0a1a24;
		--background: #eff6fb;
		--primary: #1b4869;
		--secondary: #e0859f;
		--accent: #a65a2b;

		--text-50: #ebf4fa;
		--text-100: #d7e9f4;
		--text-200: #afd3e9;
		--text-300: #87bdde;
		--text-400: #5fa7d3;
		--text-500: #3790c8;
		--text-600: #2c74a0;
		--text-700: #215778;
		--text-800: #163a50;
		--text-900: #0b1d28;
		--text-950: #050e14;

		--background-50: #ebf4fa;
		--background-100: #d6e8f5;
		--background-200: #add1eb;
		--background-300: #85bae0;
		--background-400: #5ca3d6;
		--background-500: #338ccc;
		--background-600: #2970a3;
		--background-700: #1f547a;
		--background-800: #143852;
		--background-900: #0a1c29;
		--background-950: #050e14;

		--primary-50: #ebf4fa;
		--primary-100: #d6e8f5;
		--primary-200: #aed1ea;
		--primary-300: #85bae0;
		--primary-400: #5da3d5;
		--primary-500: #348ccb;
		--primary-600: #2a70a2;
		--primary-700: #1f547a;
		--primary-800: #153851;
		--primary-900: #0a1c29;
		--primary-950: #050e14;

		--secondary-50: #faebef;
		--secondary-100: #f5d6df;
		--secondary-200: #eaaebf;
		--secondary-300: #e0859f;
		--secondary-400: #d55d7f;
		--secondary-500: #cb345f;
		--secondary-600: #a22a4c;
		--secondary-700: #7a1f39;
		--secondary-800: #511526;
		--secondary-900: #290a13;
		--secondary-950: #140509;

		--accent-50: #faf0eb;
		--accent-100: #f5e2d6;
		--accent-200: #eac5ae;
		--accent-300: #e0a885;
		--accent-400: #d58b5d;
		--accent-500: #cb6e34;
		--accent-600: #a2582a;
		--accent-700: #7a421f;
		--accent-800: #512c15;
		--accent-900: #29160a;
		--accent-950: #140b05;
	}
	.dark {
		--text: #d9eaf5;
		--background: #040a0e;
		--primary: #97c3e4;
		--secondary: #7b1f39;
		--accent: #d48858;

		--text-50: #050e14;
		--text-100: #0b1c28;
		--text-200: #153951;
		--text-300: #205579;
		--text-400: #2b72a1;
		--text-500: #368ec9;
		--text-600: #5ea5d4;
		--text-700: #86bbdf;
		--text-800: #aed2ea;
		--text-900: #d7e8f4;
		--text-950: #ebf4fa;

		--background-50: #060e14;
		--background-100: #0b1c28;
		--background-200: #163950;
		--background-300: #225577;
		--background-400: #2d719f;
		--background-500: #388ec7;
		--background-600: #60a4d2;
		--background-700: #88bbdd;
		--background-800: #afd2e9;
		--background-900: #d7e8f4;
		--background-950: #ebf4f9;

		--primary-50: #050e14;
		--primary-100: #0a1c29;
		--primary-200: #153751;
		--primary-300: #1f537a;
		--primary-400: #2a6ea2;
		--primary-500: #348acb;
		--primary-600: #5da1d5;
		--primary-700: #85b9e0;
		--primary-800: #aed0ea;
		--primary-900: #d6e8f5;
		--primary-950: #ebf3fa;

		--secondary-50: #140509;
		--secondary-100: #290a13;
		--secondary-200: #521426;
		--secondary-300: #7a1f39;
		--secondary-400: #a3294b;
		--secondary-500: #cc335e;
		--secondary-600: #d65c7e;
		--secondary-700: #e0859f;
		--secondary-800: #ebadbf;
		--secondary-900: #f5d6df;
		--secondary-950: #faebef;

		--accent-50: #140b05;
		--accent-100: #29160a;
		--accent-200: #512c15;
		--accent-300: #7a421f;
		--accent-400: #a2582a;
		--accent-500: #cb6e34;
		--accent-600: #d58b5d;
		--accent-700: #e0a885;
		--accent-800: #eac5ae;
		--accent-900: #f5e2d6;
		--accent-950: #faf0eb;
	}
}
